@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.home-container {
    /* Your existing styles */
    padding-bottom: 100px; /* Add some padding at the bottom (adjust the value as needed) */
}


.home-container h1 {
    display: inline-block;
    max-width: 90%;
    margin-top: 0px;
    margin-bottom: 35px;
    padding-top: 0px;
    border-bottom: 1px none #000;
    border-radius: 0px;
    font-family: Staatliches, sans-serif;
    color: #da7b41;
    font-size: 5rem;
    line-height: 1.15em;
    font-weight: 400;
    letter-spacing: normal;
    margin-left: -60px;
}
.home-container .home-title h1 {
    width: 750px;
    margin-top: 30px;
    margin-left: -60px;
}

.jobtitle-heading {
    margin-top: -40px;
    font-family: Staatliches;
    margin-left: -60px; 
}
.intro-heading {
    width: 800px;
    margin-left: 350px;
}

.intro-heading h2 {
    color: #000;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.bobeco-container {
    border-radius: 50px;
    background: rgba(189, 201, 115, 0.30);
    width: 950px; 
    height: 420px;   
    flex-shrink: 0;
    margin-left: 400px;
    margin-top: 200px;
}

.bobeco-heading2 {
     margin-left: 100px;
     margin-top: -90px;
}

.bobeco-container .bobeco-heading2 h1{
    color: rgba(61, 88, 36, 0.60);
    font-family: Staatliches;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 45px;   
}

.bobeco-concept{
    margin-left: 45px;
    margin-top: -40px;
}

.right-content img {
    max-height: 100px;
    max-width: 100px;
    margin-left: 720px;
    margin-top: -180px;
    margin-bottom: 40px;

}

.bobeco-concept h2 {

    color: #000;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.bobeco-concept {
   margin-top: -50px;
}

.bobeco-desc{
    margin-left: 45px;
    width: 850px;
}

.bobeco-desc h2 {
    color: rgba(0, 0, 0, 0.75);
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.bobeco-image {
    margin-left: 500px; 
    margin-top: -210px;
}


/* Media query for larger screens */
@media (min-width: 768px) {
    .home-container h1 {
        font-size: 5rem;  /* Increases the font-size on larger screens */
    }
    
    .home-title {
        margin-left: 400px;
        margin-top: 150px;
        text-align: left; /* Aligns to left on larger screens */
    }

    .jobtitle-heading {
        margin-left: 400px;
        
    }

   
    /* .bobeco-container {
        margin-left: 200px;
        margin-top: 140px;
    }
     */

    .bobeco-desc h2 {
        /* margin-left: -58px;
        margin-top: 0px; */
    }

    

    .bobeco-image {
        margin-left: 400px;
        margin-top:-200px;
        width: 100%;
        height: 100%;
        transform: translate3d(0px, 0px, 0px);
    }
}

.designco-container {
    border-radius: 50px;
    background: rgba(172, 193, 246, 0.30);
    width: 950px; 
    height: 420px;   
    flex-shrink: 0;
    margin-left: 400px;
    margin-top: 100px;
    
}

.designco-heading {
 
     margin-left: 100px;
     margin-top: 50px;
   
}

.designco-heading h1 {
    color: #145F59;
    font-family: Staatliches;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 45px;
}

.designco-icon {
    margin-left: 10px;
    margin-top: -30px;
}
.designco-icon img {
    margin-top: -120px;
    margin-left: 700px;
    width: 100px;
    height: 100px;
}

.designco-desc {
    margin-left: 45px;
    margin-top: -20px;
    width: 730px;
}

.designco-desc h2 {
    width: 720px;
    color: #000;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.designco-intro {
    margin-left: 45px;
    width: 730px;
}

.designco-intro h2 {
    color: rgba(0, 0, 0, 0.75);
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 850px;
}

.google-container {
    border-radius: 50px;
    background: rgba(225, 217, 172, 0.30);
    width: 950px; 
    height: 420px;   
    flex-shrink: 0;
    margin-left: 400px;
    margin-top: 100px;
}
.google-container {
    margin-bottom: 150px;
}

.google-heading {
     margin-left: 100px;
     margin-top: 50px;
}

.google-heading h1 {
    color: #1A73E8;
    font-family: Staatliches;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 45px;
}

.google-desc {
    margin-left: 45px;
    margin-top: -40px;
    width: 630px;
}

.google-desc h2 {
    color: #000;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.google-intro {
    margin-left: 45px;
}

.google-intro h2 {
    color: rgba(0, 0, 0, 0.75);
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 850px;
}

.google-logo {
    margin-top: -220px;
    margin-left: 800px;
}


/* Add this to your existing CSS file */

.bobeco-container,
.designco-container,
.google-container,
.sizzle-container {
  /* ... Your existing styles ... */
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s; /* Add transition effects */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle drop shadow */
}

.bobeco-container:hover,
.designco-container:hover,
.google-container:hover,
.sizzle-container:hover {
  transform: scale(1.05); /* Scale up the container slightly on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Increase shadow size on hover */
}


.sizzle-logo img {
   margin-left: 860px;
   margin-bottom: 95px;
   margin-top: -160px; /* Adjust this value to move the logo up */
   width: 40px;
   height: 40px;
}

.sizzle-container {
    border-radius: 50px;
    background: #FFEED5;
    width: 950px; 
    height: 420px;   
    flex-shrink: 0;
    margin-left: 400px;
    margin-top: 100px;
    
}

.sizzle-heading {
 
     margin-left: 100px;
     margin-top: 50px;
   
}

.sizzle-heading h1 {
    color: #E35415;
    font-family: Staatliches;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 45px;
}

.sizzle-desc {
    margin-left: 45px;
    margin-top: -50px;
}

.sizzle-desc h2 {

    color: #000;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.sizzle-intro {
    margin-left: 45px;
}

.sizzle-intro h2 {
    color: rgba(0, 0, 0, 0.75);
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 850px;
}

