@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

.bobeco-container2 {
    /* background-color: rgb(224, 234, 205); */
    padding-top: 8rem; 
    margin-left: 100px;
   
}

.bobeco-title2 {
    margin-left: 350px;
}

.bobeco-title2 h1 {
    color: #000;
    font-family: "Staatliches";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bobeco-heading  {
    margin-left: 350px;
 
}

.bobeco-overview h1{
    color: #000;
    font-family: "Zen Kaku Gothic New-Regular";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 200px;
    
}

.bobeco-overview p {
    color: #000;
    font-family: "Zen Kaku Gothic New";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bobeco-column-container {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 65%;  /* ensure it takes up full width */
    margin-bottom: 2rem; /* Adds space below the container */
    margin-left: 350px;
}

.column-duration, .column-team, .column-tools, .column-scope {
    width: 23%; /* this allows a bit of space between each column */
    margin: 0;  /* control margins */
    padding: 0 0.5%;  /* giving a slight padding to make sure text doesn't touch the edges */
}

.column-duration h2 {
    color: #000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.column-team h2 {
    color: #000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.column-tools h2 {
    color: #000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.column-scope h2 {
    color: #000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;  /* added this line to control spacing */
    font-family: 'Zen Kaku Gothic New-Regular', sans-serif;
}

ul li p{
    color: #000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.bobeco-container2 .bobeco-heading h1 {
    color: #000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 754px;
    height: 82px;
    flex-shrink: 0;
    margin-top: -50px;
  }
  
  

.bobeco-overview {
    margin-top: 150px;
    margin-left: 350px;
    width: 721px;
    margin-bottom: -35px;
}

.overview-title {
    width: 721px;
    height: 107px;
    flex-shrink: 0;
    margin-bottom: -55px;
}

.bobeco-overview .overview-title h1 {
    color: #000000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 120px;
}


.bobeco-overview .overview-title p {
    color: #000000;
    font-family: "Zen Kaku Gothic New-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 721px;
}

.bobeco-image {
    margin-left: 720px;
    margin-top: -155px;
}

.bobeco-image img {
    width: 160px; 
    height: 160px; 
}


.bobeco-prototype {
    width: 600px;
    height: 1270px;
    flex-shrink: 0;
    margin-top: 150px;
}

.prototype-title {
    margin-top: 100px;
    margin-left: 350px;
    width: 900px;
}


.prototype-title h1{
    color: #000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.prototype-image img {
    margin-left: 380px;
}
.prototype-image2 img {
    margin-left: 40px;
}

.research-container {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 60%;  /* ensure it takes up full width */
    margin-bottom: 2rem; /* Adds space below the container */
    margin-left: 350px;
    
}

.research-title {
    width: 427px;
    height: 107px;
    flex-shrink: 0;
    margin-left: 350px;
    margin-top: 100px;
}

.research-title h1 {
    color: #000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
}

.column-01 {
    width: 400px;
    padding: 0, 0, 0.5;
    flex: 1; /* This makes all columns take up equal space */
    padding: 0 10px; /* Some padding for breathing space */
    box-sizing: border-box; 
    height: 333px;
}

.column-01 h1 {
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    margin-bottom: 45px;

}

.column-01 h2 {
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
}

.research-container .column-01 ul li p {
    color: #000000;
    font-family: "Zen Kaku Gothic New";
    font-size: 18px;
    font-weight: 400;
    width: 300px;
}

.research-container .column-02 ul li p {
    color: #000000;
    font-family: "Zen Kaku Gothic New";
    font-size: 18px;
    font-weight: 400;
    width: 300px;
}

.research-container .column-03 ul li p {
    color: #000000;
    font-family: "Zen Kaku Gothic New";
    font-size: 18px;
    font-weight: 400;
    width: 300px;
}

.column-02 {
    width: 500px;
    padding: 0, 0, 0.5;
    flex: 1; /* This makes all columns take up equal space */
    padding: 0 10px; /* Some padding for breathing space */
    box-sizing: border-box; 
}

.column-02 h1 {
    color: #000000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.column-02 h2 {
    color: #000000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.column-03 {
    width: 500px;
    padding: 0, 0, 0.5;
    flex: 1; /* This makes all columns take up equal space */
    padding: 0 10px; /* Some padding for breathing space */
    box-sizing: border-box; 
}

.column-03 h1 {
    color: #000000;
    font-family: "Zen Kaku Gothic New-Bold", Helvetica;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;

}

.column-03 h2 {
    font-family: "Zen Kaku Gothic New-Bold", Helvetica;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.fieldwork-observations {
    width: 850px;
    height: 107px;
    flex-shrink: 0;
    margin-left: 350px;
    margin-top: 100px;
    
}

.fieldwork-title h1{
    color: #000;
    font-family: "Zen Kaku Gothic New" sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
}

.fieldwork-observations p {
    color: #000;
    font-family: Arial;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.interview-container {
   
    margin-left: 350px;
    margin-top: 350px;
    
}

.interview-title {
    width: 500px;
    height: 107px;
    flex-shrink: 0;

}

.interview-title h1 {
    color: #000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    }

.interview-insights-container {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;  /* ensure it takes up full width */
    margin-bottom: 2rem; /* Adds space below the container */
    margin-left: -10px;
    margin-top: 0;
   
}

.interview-columns-01 {
    width: 500px;
    padding: 0, 0, 0.5;
    flex: 1; /* This makes all columns take up equal space */
    padding: 0 10px; /* Some padding for breathing space */
    box-sizing: border-box; 
}

.columns-01 h2 {
    color: #000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 18px;
    font-weight: 450;
    line-height: normal;
}

.interview-columns-02 {
    width: 500px;
    padding: 0, 0, 0.5;
    flex: 1; /* This makes all columns take up equal space */
    padding: 0 10px; /* Some padding for breathing space */
    box-sizing: border-box; 
}

.columns-02 h2 {
    color: #000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 18px;
    font-weight: 450px;
    line-height: normal;
}


.interview-columns-03 {
    width: 500px;
    padding: 0, 0, 0.5;
    flex: 1; /* This makes all columns take up equal space */
    padding: 0 10px; /* Some padding for breathing space */
    box-sizing: border-box; 
}

.our-solution {
    margin-left: 350px;
    margin-top: 150px;
}

.our-solution h1{
    color: #000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
}

.our-solution p {
    color: #000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 1000px;
    line-height: normal; 
    margin-top: 50px;
}


.branding-system-design {
    margin-left: 350px;
    margin-top: 150px;
    margin-top: 150px;
}

.branding-system-design h1 {
    color: #000;
    font-family: "Zen Kaku Gothic New-Bold", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 80px;
}


.branding-image img {
    width: 844px;
    height: 995px;
    flex-shrink: 0;
    margin-left: 0px;
}


.kiosk {
    border: 0px none;
    height: 52px;
    width: 865px;
    margin-top: 150px;
    margin-left: 350px;
  }

  .kiosk h1 {
    color: #000;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 100px;
  }

  .prototype-image3 img {
    display: flex;
    height: 840px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 35px;
    flex-wrap: wrap;
    margin-left: 420px;
    margin-top: 60px;
    margin-bottom: 250px;
  }
  
 