.App {
  text-align: center;
/* background-color: #61dafb;
height: 100%;
width: 100%; */

  
}

body, html {
  
 
  margin: 0;
    
   
  padding: 0;
    
   
  height: 100%;
  }


  /* Set the background color for the whole page */
body {
  
 
  background-color: rgb(224, 234, 205);
  }


  .active-link {
    background-color: #007bff;
    color: #fff;
  }
  ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right; /* Float the ul to the right */
  
}

li {
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  
 
}

a {
  text-decoration: none;
  color: #333;
  font-size: 23px;
  padding: 8px 12px;
  border-radius: 4px;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
